<div class="jumbotron text-center">
  <h1>Пробный проект - Интернет магазин</h1>
  <p>Выберите нужную вам категорию</p> 
</div>

<div class="container">
  <div class="row">
    <div id="hover-col" class="col-sm-3">
      <h3>Гигиена</h3>
      <p>Просто текст ..</p>
    </div>
    <div id="hover-col" class="col-sm-3">
      <h3>Одежда</h3>
      
    </div>
    <div id="hover-col" class="col-sm-3">
      <h3>Техника</h3> 
      <p>Просто текст ..</p>
    </div>
    <div id="hover-col" class="col-sm-3">
      <h3>Обувь</h3> 
      <p>Просто текст ..</p>
    </div>
  </div>
</div>
